body,html{
        background-color:#222;
        color:#fff;
        font-family:"Verdana";
        height:100%;
        clear: both;
        padding:0px;
        margin:0px;
        }

#editor { 
        height:100%;
        overflow:auto;
        float:left;
        flex:1;
}


i {
      font-size:7px;
      padding:0px;
      margin:0px;
}

.message {
  padding:20px;
  font-size:15px;
  line-height:30px;
  text-align:center;
    border-radius:10px;
    /*border:2px solid #fff;*/
    max-width:60%;
    background-color:#000;
    /*opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    color:#fff;
    position:absolute;
    left: 50%;
    transform:translateX(-50%);
    top:80%;    
    transition-property: visibility, opacity;
    transition-duration: 0s, 1s;
    z-index: 100;
}

.hideslow {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 1s, 0s;
    transition-delay: 0s, 1s;
 }  
.folderview {
      font-size:10px;
      height:100%;
      overflow:auto;
      float:left;
      width:300px;
}

.parentcenter {
  position:relative;
  height:100%;
  width:100%;
}

.folderviewcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  font-size:15px;
  line-height:30px;
}
  
.floating {
      display:inline-block;
      vertical-align:middle;
} 
  
.fileitem{
     color:#aaa;
     vertical-align:middle;
      white-space: nowrap;
} 
 
.fileitem:hover{
     color:#fff;
}
 
.hide {
     display:None;
 }
 
/* width */
::-webkit-scrollbar {
width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #888; 
border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #aaa; 
}
