<!DOCTYPE html>
<html lang="en">
<head>
<title>Simple Sublime</title>
    <style type="text/css" media="screen">
    </style>
    <script src="{{ url_for('static', filename='src/ace.js') }}" type="text/javascript" ></script>
    <script src="{{ url_for('static', filename='src/ext-modelist.js') }}" type="text/javascript" ></script>
    <script src="{{ url_for('static', filename='src/ext-language_tools.js') }}" type="text/javascript" ></script>
    <script src="{{ url_for('static', filename='editor.js') }}" type="text/javascript" ></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='iconfont/material-icons.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='editor.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body onkeydown="ctrls_press(event)" onload="init()" >
<div style="width:100%;height:100%;display:flex;">
<div class="folderview" id="fileviewcontainer">
    <div class="snip" onclick="toggleFileView();">
         <div class="innersnip noselect">
             ||
         </div>
    </div>
    <div id="folderview">
        
    </div>
<!--    <div class="parentcenter">
        <div class="folderviewcenter">
            updating ...
        </div>
    </div>-->
</div>
<div class="editorcontainer">
    <div id="editor">
    </div>
    <div class="snip_closed" onclick="toggleFileView();">
         <div class="innersnip noselect">
             ||
         </div>
    </div>
</div>
</div>

<div class="message hideslow" id="message">
    
    Helloo ...
    
</div>

<div class="hide" id="foldertemplate">
    <div class="fileitem">
       <div onclick="openclose(this);"> <i class="material-icons floating">folder</i><div class="floating">::foldername::</div></div>
        <ul class="foldercontent hide">
            ::content::
        </ul>    
    </div>
</div>
<div class="hide" id="filetemplate">
    <div class="fileitem" onclick="sendLoadFile('::filepath::');">
        <i class="material-icons floating">sort</i><div class="floating">::filename::</div>
    </div>
</div>

<!--- <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script> -->
</body>
</html>